
# top level files
include MANIFEST.in
include *.rst *.txt
include setup.py runtests.py

# source code
recursive-include skmonaco *.py *.pyx *.c *.tex *.png
recursive-exclude skmonaco *.pdf

# docs
recursive-include doc *.py *.pyx *.c *.tex *.pdf *.png Makefile

# prune generated directories
prune skmonaco/build
prune doc/build
prune */__pycache__

global-exclude *.pyc *.bak *~ *.swp *.pyo *.log *.aux
